<phpunit bootstrap="app_CYM/lib/vendor/autoload.php">
    <testsuites>
        <testsuite name="default test suit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">app_CYM</directory>
        </include>
        <exclude>
            <directory suffix=".php">app_CYM/lib</directory>
            <directory suffix=".php">app_CYM/backup</directory>
        </exclude>
    </coverage>
</phpunit>