@font-face {
    font-family: RedHatDisplay;
    src: url('../fonts/RedHatDisplay.ttf') format('truetype');
    font-family: CantataOne;
    src: url('../fonts/CantataOne.ttf') format('truetype');
}

body {
    font-family: RedHatDisplay;
}


/* Hauteur logo navbar */
.logo_cym {
    height: 50px;
}

/*alignement de la navbar*/
.navbar {
    align-items: center;
    border-bottom: solid black 2px;
}

/* CSS des elements du menu */
.menu_element {
    font-size: 20px;
    text-align: center;
}

/* css formulaire connexion */
.formulaire1 {
    border: solid black 1px;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
}

/* css balise a */
a {
    text-decoration: none;
    color: black;
}

/* text navbar */
.navbar-title {
    font-family: RedHatDisplay;
}

/* div homeview */
.body-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

/* div formulaire connexion */
.body-container-padding {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

/* div text accueil */
.separateur {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center; 
    margin: 50px 0px;
}

/* separateur formulaire inscription */
.separateur-right {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center; 
    border-left: solid 2px black;
    margin: 50px 0px;
}

/* titre level 2 */
.title-lvl2 {
    padding: 10px;
    font-family: RedHatDisplay;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

/* titre ajouter humeur */
.title-lvl3 {
    text-align: center;
    font-family: RedHatDisplay;
    font-size: 35px;
    font-weight: bold;
}

/* titre visualisation level 3 */
.title-lvl3-left {
    text-align: left;
    font-family: RedHatDisplay;
    font-size: 35px;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.icon_button_add {
    font-size: 50px;
    padding-right: 15px;
    border-right: solid black 1px;
}

/* titre visualisation level 4 */
.title-lvl4-left {
    text-align: left;
    font-family: RedHatDisplay;
    font-size: 25px;
    align-items: center;
}

/* titre visualisation level 4 align center */
.title-lvl4-center {
    text-align: center;
    font-family: RedHatDisplay;
    font-size: 25px;
    align-items: center;
    padding-top: 25px;
}

/* css form mail */
.top-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: RedHatDisplay;
    font-size: 20px;
}

/* css form password */
.bottom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: RedHatDisplay;
    font-size: 20px;
}

/* css pour le boutton valider de connexion */
.button {
    border: solid 2px black;
    border-radius: 10px;
    height: 50px;
    width: auto;
    text-align: center;
    font-size: 20px;
    padding: 10px 35px;
    align-items: center;
    font-family: RedHatDisplay;
}

.menu_element:hover{
    color: black;
    text-decoration: underline;
}

/*button navbar de la page actuel*/
.active {
    color: black;
    text-decoration: underline;
}

/* Debut Enzo */

/*flex du menu dans la navbar*/
.menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: right;
}

/*Titre de niveau 1*/
.title-lvl1 {
    padding: 10px;
    font-family: CantataOne;
    font-size: 40px;
    text-align: center;
}

/*Titre de niveau 4*/
.title-lvl4 {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    font-family: RedHatDisplay;
}

/*message d'erreur*/
.erreur {
    border: solid red 2px;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: RedHatDisplay;
    color: red;
}

/*Bordure des infos*/
.info_border {
    border: solid black 2px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
}

/*texte du nom de l'info*/
.info_name {
    font-size: 30px;
    font-family: RedHatDisplay;
    font-weight: bolder;
}

/*texte de l'info*/
.info {
    font-size: 30px;
    font-family: RedHatDisplay;
}

/*Conteneur d'une info*/
.info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* plus de contour sur la balise <button>*/
button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

/*Bouton modifer info*/
.button_modifier {
    font-family: RedHatDisplay;
    border: solid black 2px;
    border-radius: 7px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
}
.button_modifier:hover {
    background-color: black;
    color: white;
}

/*Bouton annuler*/
.button_annuler {
    font-family: RedHatDisplay;
    border: solid #FF0000 1px;
    background-color: #D11818;
    color: white;
    border-radius: 7px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.button_annuler:hover {
    color: rgb(227, 227, 227);
    background-color: #b61515;
}

/*Bouton valider*/
.button_valider {
    font-family: RedHatDisplay;
    border: solid black 1px;
    background-color: #1F8117;
    color: white;
    border-radius: 7px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.button_valider:hover {
    color: rgb(227, 227, 227);
    background-color: #1b6d13;
}

/*Bouton modifier une humeur*/
.button_modif_hum {
    font-family: RedHatDisplay;
    border: solid black 1px;
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 7px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.button_modif_hum:hover {
    color: rgb(227, 227, 227);
    background-color: #000000;
}

/*Bouton fermer dans la modal d'humeur*/
.button_fermer {
    font-family: RedHatDisplay;
    border: solid red 1px;
    background-color: white;
    color: red;
    border-radius: 7px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.button_fermer:hover {
    background-color: rgb(231, 231, 231);
}

/*mets les items à droite*/
.droite {
    text-align: right;
}

/*mets les items à gauche*/
.gauche {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    align-items: left;
    margin: 0px;
    padding: 0px;
}

/*separateur modal humeur*/
.separateurModalHum {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 10px;
    height: 1px;
    border-top: solid black 1px;
}

/*cadre des modals*/
.cadre_modal {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

/*cadre dans les modals modifier*/
.cadre_modif {
    border: solid black 2px;
    border-radius: 7px;
    padding: 20px;
}

/*input de type texte dans les modals modifier*/
.input_modif_text {
    border: solid #C5C5C5 2px;
    border-radius: 5px;
}

/*zone du bouton de désinscription*/
.desinscrire {
    text-align: center;
}

/*boutton de désinscription*/
.button_desinscrire {
    font-family: RedHatDisplay;
    border: solid red 2px;
    color: red;
    border-radius: 7px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: transparent;
}
.button_desinscrire:hover {
    background-color: red;
    color: white;
}

/*boutton d'ajout d'une humeur*/
.button_add_mood {
    display: flex;
    gap: 10px;
    font-family: RedHatDisplay;
    border: solid black 2px;
    border-radius: 15px;
    background-color: transparent;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

/* Contour Noir */
.contourNoir {
    font-family: RedHatDisplay;
    border: solid black 2px;
    border-radius: 15px;
    align-items: center;
    padding: 30px;
}

/*aligne au milieu*/
.align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*nav de la pagination*/
.nav_moodsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

/*nav element*/
.nav_element {
    width: min-content;
}

/*bouton de la nav des histo des humeurs*/
.icon_nav_moodsList {
    padding: 5px;
    font-size: 20px;
    border: solid black 1px;
    border-radius: 5px;
}

.icon_nav_moodsList:hover {
    background-color: #000000;
    color: white;
}

/*bouton de la nav des histo des humeurs actif*/
.icon_nav_moodsList_active {
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: #000000;
    border: solid black 1px;
    border-radius: 5px;
}

/*element de la liste des emojis*/
.humeurElement {
    display: flex;
    align-items: center;
    gap: 10px;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

/*elements textuelle d'un element humeur*/
.humeurElementText {
    text-align: left;
}

/*emoji dans la liste des emojis d'un compte*/
.emojiListe {
    font-size: 50px;
    padding-right: 10px;
    border-right: solid black 1px;
}

.sizeEmoji{
    font-size: 50px;
}

/*CSS des infos complémentaires */
.infosComplement {
    word-wrap: break-word;
    border: solid black 2px;
    border-radius: 10px;
    padding: 20px;
}

/* modification texte balise <p>*/
p {
    font-family: RedHatDisplay;
    font-size: 20px;
}

/* div pour l'erreur sur connexion */
.erreurAccount {
    border: solid red 2px;
    border-radius: 7px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: RedHatDisplay;
    color: red;
    text-align: center;
}

/* case contenant le selectionner la durée pour visualisation*/
.periode-search {
    display: flex;
    gap: 10px;
    font-family: RedHatDisplay;
    border: solid black 1px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    height: 50px;
}

/* changement de couleur quand le curseur est sur la case */
.periode-search:hover {
    background-color: rgb(234, 234, 234);
}

/* espace entre éléments */
.space {
    gap : 15px;
}

/* container contenant 10 image */
.schedule-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

/* case contenant le numero et l'image */
.schedule-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    height: 110px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5%;
}

/* defini la taille de l'image */
.image-card {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* centre l'image dans la case du calendrier */
.image-center {
    display: flex;
    justify-content: center;
}

/* centre le formulaire */
.center-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* centre le text pour afficher le mot de passe */
.passInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: RedHatDisplay;
    font-size: 20px;
    gap: 5px;
    padding: 0px 0px 25px 0px;
}

/* format du formulaire d'inscription*/
.body-container-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    font-family: RedHatDisplay;
}

/* bouton valider du formulaire d'inscription */
.button-form {
    align-self: center;
}
